.dot {
  background-color: #2a92ed;
  display: inline-block;
  width: 30px;

  /* use aspect ratio or width + height */

  aspect-ratio: 1/1;
  border-radius: 50%;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand h1 {
  font-size: 1.4em;
  margin: 0 0.7em;
  color: white;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 2em 2em;
}

.menu {
  margin-left: 2em;
}

.menu a {
  margin: 0 2em;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .brand,
  .brand h1 {
    margin: 0;
  }

  .dot {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .menu a {
    margin: 0;
    text-align: center;
  }
}
